* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
}

/*Barre Nav*/
.main {
  width: 100%;
  background-size: cover;
  position: fixed;
  top: 0px;
  z-index: 10;
  transition: .5s;
  display: block;
  background-color: #0001;
}

nav {
  width: 100%;
  height: 5em;
  line-height: 3em;
  border: none;
  /*background-color: #001 !important;*/
}

/*positionnement des liens ainsi que la transition lorsque la souris passe dessus*/
nav ul {
  margin-left: auto;
  margin-right: auto;
  padding-inline-start: 0;
  margin-block-end: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-grid;
  line-height: 5em;
  transition: 0.6s all;
}

/*changement de couleur de fond au passage de la souris sur les liens*/
nav ul li:hover {
  background-color: #255001;
  color: white;
  opacity: 0.4;
}

nav ul li a {
  text-decoration: none !important;
  color: white;
  opacity: 1;
  padding: 0em 3em 0em 3em;
}

/*Responsivité bar nav*/
.toggle {
  width: 100%;
  padding: 15px 20px 0px 20px;
  text-align: right;
  box-sizing: border-box;
  color: white;
  font-size: 2em;
  display: none;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
}

.toggle:hover {
  color: #E5BB16;
  cursor: pointer;
}

.fa-sign-in-alt {
  color: white;
  cursor: pointer;
}

.fa-sign-out-alt {
  color: white;
  cursor: pointer;
  display: none;
}

/*.fa-sign-out-alt:hover {
  color: #023871;
  display: none;
}*/
@media (max-width: 1006px) {
  .toggle {
    display: block;
  }

  ul {
    width: 13em;
    display: none;
    background-color: black;
  }

  ul li {
    display: none;
    background-color: black;
  }
}

.active {
  display: inline-grid;
  float: right;
}